<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>MAIN WINDOW</title>
</head>

<body>
    <header>
        <h1>Library Management System</h1>
        <nav>
            <ul>
                <li><a href="/">Add Book</a></li>
                <li><a href="/">Search Books</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>