<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="message" message_status="{{message.tags}}">
        <p>
            {{ message }}
        </p>
        <i class="fa-solid fa-x x-mark" onclick="close_message(this)"></i>
    </div>
    {% endfor %}
    {% endif %}
    <div class="login_container">
        <h2>Sign Up</h2>
        <form method="post" id="registration_form" onsubmit="return form_validator()">
            {% csrf_token %}
            <div class="user_name_phone">
                <div>
                    <i class="fa-solid fa-user input_icon"></i>
                    <p>User Name</p>
                    <input type="text" name="username" id="username">
                </div>

                <div>
                    <i class="fa-solid fa-phone input_icon"></i>
                    <p>
                        Phone number
                    </p>
                    <input type="text" name="phone_number" id="phone_number">
                </div>
            </div>
            <div>
                <select name="role" id="role">
                    <option class="role_option" value="User">User</option>
                    <option class="role_option" value="Admin">Admin</option>
                </select>
            </div>
            <div class="user_name_phone">
                <div>
                    <i class="fa-solid fa-eye input_icon show_password"></i>
                    <p>Password</p>
                    <input type="password" name="password" id="password_input" class="password">
                </div>
                <div>
                    <i class="fa-solid fa-eye input_icon show_password"></i>
                    <p>Password</p>
                    <input type="password" name="password" id="password_input" class="confirm_password">
                </div>
            </div>
            <div>
                <input type="submit" value="Sign Up">
            </div>
        </form>
        <div class="sing_up">
            <p>
                Already have a account
            </p>
            <a href="{% url 'users:login' %}" class="sing_up_btn">Login</a>
        </div>
    </div>
    <script src="{% static 'js/registrate.js' %}"></script>
</body>

</html>